<launch>

  <rosparam command="load" file="$(find multi_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find multi_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/robot1/joint_states,/robot2/joint_states]</rosparam>
    <remap from="/joint_states" to="/combined_joint_states"/>
  </node>

  <include file="$(find multi_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find multi_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>